
@font-face {
	font-family: "Inter";
	src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
	font-style: normal;
	font-weight: normal;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Inter";
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	margin-left: 75px;
	margin-right: 49px;
}

/* header */

.header {
    display: flex;
	flex-wrap: wrap;
    align-items: center;
	justify-content: space-between;
    height: 64px;
    background-color: #D9D9D9;
	font-size: 14px;
	font-weight: 600;
}

.logo {
	margin-left: 75px;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 402px;
	height: 26px; 
	color: #4B5563;
}

.home {
	color: #111827;
}

.buttoms {
	display: flex;
	margin-right: 75px;
}

.buttom-get-started {
	display: flex;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
	margin: auto;
	width: 119px;
	height: 40px;
	background-color: #111827;
	color: #ffffff;
	border-radius: 7px;
}

.buttom-login {
	display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
	width: 78px;
	height: 40px;
}

/* car body type */

.main-navigation {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

.car-body-type {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 387px;
	height: 23px;

	margin-top: 21px;
	font-size: 18px;
	font-weight: bold;
	
}

.main-bmw img { 
	margin-top: 33px;
	width: 100%;
}

/* Collection */ 



.collection-title {
	display: flex;
	justify-content: center;
	font-size: 50px;
	font-weight: bold;
	margin-top: 45px;
}

.collections-cars {
	display: flex;
	flex-direction: column;
	justify-content: right;
	
}

.new-specification {
	display: flex;
	justify-content:end;
	align-items: center;
	margin-top: 26px;
	column-gap: 362px;
}

.text-enjoi {
	font-size: 28px;
	opacity: 60%;
}

.see-more-buttom {
	display: flex;
    height: 100vh;
	font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
	width: 119px;
	height: 40px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 7px;
}

.car-cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 49px;
	margin-top: 50px;
}

.car-cards img {
	width: 100%;
}

/* special edition */ 

.special-edition {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 15px;
}

.special-title {
	display: flex;
	justify-content: center;
	font-size: 50px;
	font-weight: bold;
	margin-top: 45px;
}

.text-enjoi-special {
	font-family: "Lato";
	font-size: 28px;
	opacity: 60%;
}


.bmw-special-edition {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.bmw-special img {
	width: 100%;
	margin-top: 42px;
}

.x300-edition {
	margin-top: 42px;
	line-height: 1.5;
}

.x300 {
	font-family: "Lato";
	font-size: 30px;
	font-weight: bold;
}

.x-edition {
	font-family: "Lato";
	font-size: 18px;
	font-weight: bold;
}

/*most-popular*/

.most-popular {
	display: flex;
	justify-content: space-between;
}

.most-popular-title {
	display: flex;
	flex-direction: column;
	line-height: 1.5;
}

.most-pop-title{
	font-size: 50px;
	font-weight: bold;
}

.most-pop-text {
	font-family:  "Poppins";
	font-size: 18px;
	font-weight: normal;
	opacity: 50%;
}

.see-more-buttom-two {
	display: flex;
	position: relative;
	bottom: 0;
    height: 100vh;
	font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
	width: 119px;
	height: 40px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 7px;
}

